@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


:root {
    --shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

body {
    background-color: rgb(27, 26, 26);
    font-family: 'Roboto', sans-serif;
    color: rgb(191, 191, 191);
}


/* ----------Lobby styling ------------ */


#form-container {
    width: 600px;
    box-shadow: var(--shadow);
    background-color: rgb(18, 18, 18);
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-message {
    text-align: center;
    margin: 20px;
}

#welcome-message h1{
    font-size: 36px;
}

#welcome-message p{
    font-size: 16px;
}

.form-field {
    margin: 20px;
    
}

.form-field label{
    font-size: 16px;
    line-height: 1.7em;
}

.form-field input {
    width: 100%;
    border: 2px solid rgb(48, 47, 47);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(18, 18, 18);
    color: #fff;
}

.form-field input[type='submit'] {
    background-color: rgba(75, 93, 172, 1);
    border: none;
    color: #fff;
}

@media screen and (max-width:450px){
    #form-container {
        width: 95%;
    }

    #welcome-message h1 {
        font-size: 24px;
    }
}


/* ----------Room styling ------------ */

#player {
    height: 99vh;
    
}

@media screen and (max-width:1000px){
    #player {
        height: 50vh;
        
    }
}

#room-name-wrapper {
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

.video-player {
    height: 8rem;
    width: 8rem;
}

/* .video-player > * {
    border-radius: 5px;
} */

 .username-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 9999;
    background-color: rgba(0,0,0, 0.3);
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}

@media screen and (max-width: 1000px) {
    /* .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }  
    
    #video-streams {
        height: 33vh;
    } */

}

/* --------- Room Styling | Control -------------- */

/* 
#icon-group {
    position: fixed;
} */

.control-icon-vdo {
    height: 40px;
    width: 40px;
    box-shadow: var(--shadow);
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}

#leave-btn {
    background-color: rgb(255, 80, 80, 1);
}